<script type="text/template" id="inventarioList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(inventarios, function(inventario) { %>
    <tr>
		<td><%= htmlEncode(inventario.getDisplay('name')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-inventario-edit',{id:<%= inventario.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-inventario-delete',{id:<%= inventario.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="inventario">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-inventarioForm">
    <% if(inventario.id) {%>
    <input type="hidden" name="id" value="<%= inventario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= inventario.get('name') %>"/>	
		</div>
    </form>
    </div>
</script> 