<script type="text/template" id="ordenDespachoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Fecha</th>
		 <th>Cantidad</th>
		 <th>Estado</th>
		 <th>Nombre Item</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(ordenDespachos, function(ordenDespacho) { %>
    <tr>
		<td><%= htmlEncode(ordenDespacho.getDisplay('name')) %></td>
		<td><%= htmlEncode(ordenDespacho.getDisplay('fecha')) %></td>
		<td><%= htmlEncode(ordenDespacho.getDisplay('cantidad')) %></td>
		<td><%= htmlEncode(ordenDespacho.getDisplay('estado')) %></td>
		<td><%= htmlEncode(ordenDespacho.getDisplay('nombreItem')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-ordenDespacho-edit',{id:<%= ordenDespacho.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-ordenDespacho-delete',{id:<%= ordenDespacho.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="ordenDespacho">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-ordenDespachoForm">
    <% if(ordenDespacho.id) {%>
    <input type="hidden" name="id" value="<%= ordenDespacho.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= ordenDespacho.get('name') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fecha">Fecha</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fecha"  name="fecha" placeholder="" />
    		<%= '<scr'+'ipt>' %>
        	$('#fecha').datepicker({autoclose:true});
        	$('#fecha').datepicker('setDate',new Date(<%= ordenDespacho.get('fecha') %>));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="cantidad">Cantidad</label>
    	<input type="text" class="form-control" id="cantidad" name="cantidad" placeholder="" value="<%= ordenDespacho.get('cantidad') %>"/>	
		</div>
		<div class="form-group" >
		<label for="estado">Estado</label>
    	<input type="text" class="form-control" id="estado" name="estado" placeholder="" value="<%= ordenDespacho.get('estado') %>"/>	
		</div>
		<div class="form-group" >
		<label for="nombreItem">Nombre del Item</label>
    	<input type="text" class="form-control" id="nombreItem" name="nombreItem" placeholder="" value="<%= ordenDespacho.get('nombreItem') %>"/>	
		</div>
    </form>
    </div>
</script> 