<script type="text/template" id="itemList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
		 <th>Fecha de Caducidad</th>
		 <th>¿Reservado?</th>
		 <th>Motivo de Ingreso</th>
		 <th>Motivo de Salida</th>
		 <th>¿En bodega?</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% var fechaActual = new Date(); %>
    <% fechaActual = [fechaActual.getDate(), fechaActual.getMonth()+1, fechaActual.getFullYear()]; %>
    <% _.each(items, function(item) { %>
    <% var fechaItem = item.getDisplay('fechaCaducidad').split("/"); %>
    <tr style=<%= ((fechaActual[2] > fechaItem[2]) || (fechaActual[1] > fechaItem[1]) || (fechaActual[0] > fechaItem[0]))? 'background:red':'' %>>
		<td><%= htmlEncode(item.getDisplay('name')) %></td>
		<td><%= htmlEncode(item.getDisplay('fechaCaducidad')) %></td>
		<td><%= htmlEncode(item.getDisplay('reservado')) %></td>
		<td><%= htmlEncode(item.getDisplay('motivoIngreso')) %></td>
		<td><%= htmlEncode(item.getDisplay('motivoSalid')) %></td>
		<td><%= htmlEncode(item.getDisplay('enBodega')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-item-edit',{id:<%= item.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-item-delete',{id:<%= item.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="item">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-itemForm">
    <% if(item.id) {%>
    <input type="hidden" name="id" value="<%= item.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese un nombre" value="<%= item.get('name') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaCaducidad">Fecha de Caducidad</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaCaducidad"  name="fechaCaducidad" placeholder="Ingrese una fecha" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaCaducidad').datepicker({autoclose:true});
        	$('#fechaCaducidad').datepicker('setDate',new Date(<%= item.get('fechaCaducidad') %>));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="reservado" name="reservado" value="true" type="checkbox" <%= item.get('reservado')?'checked':'' %>> ¿Reservado?
    	</label>
		</div>
		<div class="form-group" >
		<label for="motivoIngreso">Motivo de Ingreso</label>
    	<input type="text" class="form-control" id="motivoIngreso" name="motivoIngreso" placeholder="Seleccione un motivo" value="<%= item.get('motivoIngreso') %>"/>	
		</div>
		<div class="form-group" >
		<label for="motivoSalid">Motivo de Salida</label>
    	<input type="text" class="form-control" id="motivoSalid" name="motivoSalid" placeholder="Seleccione un motivo" value="<%= item.get('motivoSalid') %>"/>	
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="enBodega" name="enBodega" value="true" type="checkbox" <%= item.get('enBodega')?'checked':'' %>> ¿En Bodega?
    	</label>
		</div>
    </form>
    </div>
</script> 